.apptDates {
    width: 90%;
    font-size: 12px;
    margin-bottom: 2rem;
  }

  .apptTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .apptTable th, .apptTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .apptTable th {
    background-color: #f2f2f2;
  }
  
  .apptTable tr:nth-child(even) {
    background-color: #f9f9f9;
  }