.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    gap: 10rem;
    padding: 1rem;
}

.heroImg {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
  
.doctorImg {
    max-width: 100%;
    height: auto;
}

@media (min-width: 600px) {
    .home {
        gap: 2rem;
    }
}

@media (max-width: 600px) {
    .heroImg {
        display: none;
    }
}